* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
}

.dashboard_container {
  background-color: black;
  width: 100%;
  max-width: 1280px;
  max-height: 720px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 0 auto;
}

.user_card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #1c1c1e;
  border: 1px solid #777777;
  border-radius: 20px;
  padding: 10px;
  max-width: 100%;
}

.user_card__block {
  display: flex;
  gap: 20px;
  align-items: center;
}

.img {
  border-radius: 12px;
  width: 147px;
  height: 100px;
  object-fit: cover;
}

.user_card__fullname {
  color: white;
  font-weight: 900;
  font-size: 28px;
  line-height: 140%;
  text-align: center;
}

.user_card__role {
  color: #bbb;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
}

.user_card__block2 {
  display: flex;
  justify-content: center;
  gap: 10px;
  /* flex-wrap: wrap; */
}

.todo_quantity {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 50px;
  text-align: center;
  color: black;
}

.blue_card,
.yellow_card,
.green_card,
.red_card {
  border-radius: 16px;
  padding: 10px;
  width: 100px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue_card { background-color: #b0d6ff; }
.yellow_card { background-color: #fdbf01; }
.green_card { background-color: #9ad573; }
.red_card { background-color: #ff4646; }
